.menu {
    background-color: rgb(67, 17, 114);
    color: white;
    border-radius: 8px;
    width: 150px;
    height: 100%;
    position: fixed;
    top: 20px;
    padding: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 19px;
    font-weight: 600;
}

.menu a:hover {
    background-color: white;
    color: rgb(67, 17, 114);
    border-radius: 10px;
    transition: 3s;
}

.main {
    margin: 80px 40px 0px 360px;
    font-size: 19px;
}

h2 {
    color: rgb(55, 19, 88)
}

.images img {
    width: 45%;
    margin: 5px;
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.5s;

}

.images img:hover {
    opacity: 1;
}

hr {
    border: 5px solid rgb(55, 19, 88);
    border-radius: 9px;
}

.designers img {
    border-radius: 10px;
    width: 100%;
    filter: grayscale(30%);
}

.member {
    display: inline-block;
    width: 30%;
    margin: 5px;
}

.description {
    background-color: rgb(218, 214, 214);
    padding: 5px;
    border-radius: 7px;
}

.roles {
    opacity: 0.5;
}

.tarif {
    border-radius: 10px;

    width: 40%;
    display: inline-block;
}

.tarif li {
    border-bottom: solid 1px rgb(82, 82, 82);
    padding: 10px 0px;
    text-align: center;
    border-radius: 8px;
}

.tarif ol {
    list-style-type: none;
    padding: 0px;
    background-color: rgb(218, 214, 214);
    border-radius: 10px;
}

.tarif a {
    text-decoration: none;
    border-radius: 15px;
    background-color: white;
    color: rgb(86, 9, 209);
    padding: 8px;
}

#pro-button {
    background-color: #f1433a;
    color: white;
}

#basic {
    background-color: #42035a;
    padding: 20px 0px;
    color: white;
    font-size: 22px;
}

#pro {
    background-color: #f1433a;
    color: white;
    padding: 20px 0px;
    font-size: 22px;
}

.period {
    opacity: 0.5;
}

.price {
    font-weight: 600;
}

.contact p {
    margin: 0px;
}

.contact input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact button {
    text-decoration: none;
    background-color: #42035a;
    color: white;
    border-radius: 8px;
    width: 95%;
    padding: 10px 0px;
    margin: 0px auto;
}

.end a {
    color: black;
}
.end{
    padding: 100px 0px;
}
.end p{
    text-align: right;
}